<p>
<p data-bind="text: currentPrompt().targetLanguage" class="text-center"></p>
  <label>

    <img hight="50" width="100" data-bind="attr:{src: currentPrompt().randomImage}">
    <input type="radio" name="choice" data-bind="value: currentPrompt().randomWord,
     checked: currentPrompt().answer"
    />

    <img hight="50" width="100" data-bind="attr:{src: currentPrompt().getImage}">
    <input type="radio" name="choice" data-bind="value: currentPrompt().nativeLanguage,
     checked: currentPrompt().answer"
     />
  </label>
<p>
<button class="btn btn-success" data-bind="click: submit">Submit</button>
